:root {
  --blue: #273FAD;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #212429;
  --shapes: #2D3138;
  --text-title: #FFF;
  --text: #989A9A;
  --text-light: #EDEDE9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
  background-color: #202020;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}